.container {
    display: flex;
    width: 100vw;
    flex: 2;
}

.container button {
    flex: 1;
    font-size: 3em;
    background-color: white;
    margin: 0.5em;
}

@media (max-width: 1000px) {
    .container {
        flex-direction: column;
    }

    .container button {
        margin: 0.1em;
    }
}
