@font-face {
    font-family: 'sitelen-pona-pona';
    src: local('sitelen-pona-pona'), url('../fonts/sitelen-pona-pona.otf') format('opentype');
}

.word {
    font-family: 'sitelen-pona-pona';
    font-size: 60vh;
    margin: 0;
}

@media (max-width: 800px) {
    .word {
        font-size: 45vh;
    }
}

.center {
    width: 100vw;
    display: grid;
    justify-content: center;
    flex: 100;
}