.center {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    .center {
        background-color: black;
    }
}