@font-face {
    font-family: 'sitelen-pona-pona';
    src: local('sitelen-pona-pona'), url('./fonts/sitelen-pona-pona.otf') format('opentype');
}

.bigword {
    font-size: 20em;
    margin: 0;
    font-family: 'sitelen-pona-pona';
}

div {
    display: grid;
    place-items: center;

}